# account api
DATABASE_HOST=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_PORT=
DATABASE_DB=
PORT=
ACCOUNT_EXCHANGE=
RABBITMQ_URL=
SUPABASE_URL=
SUPABASE_ANON_KEY=

# rabbitmq
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=